::selection {
  background: #42b983 !important;
  color: #fff !important;
}
.post-detail h4 {
  padding-left: 0px !important;
}
.post-detail h4:not(.bamboo-h):not(.bamboo-h-b) {
  border-left: 0px solid #fff !important;
}
.post-detail ol {
  list-style-type: auto !important;
  padding: 0 0 0 1.5em !important;
}
.read-more:hover {
  background-color: rgba(255,255,255,0.439) !important;
  color: #fff !important;
}
.drawer-box-head_desc {
  padding: 5px 18px !important;
  font-weight: 300;
  line-height: 25px;
}
@media (min-width: 552px) {
  .dark {
    bottom: 90px !important;
  }
  .dark,
  .goTop,
  .godown {
    bottom: 60px;
    transform: scale(0.6) !important;
  }
}
@media (max-width: 992px) {
  .posts .post .post-main {
    flex: none;
    padding: 0px !important;
  }
  .posts .post .post-img-mobile {
    display: block;
    height: 150px !important;
  }
  .posts .post-info {
    padding: 10px;
  }
}
.posts .post-img-mobile {
  margin: 0px !important;
  border-radius: 0px !important;
}
@media (max-width: 551px) {
  #l_side #toc-mobile-btn,
  .goTop,
  .godown,
  .dark {
    right: 10px !important;
  }
}
.top-btn-color {
  background-color: rgba(66,185,133,0.8) !important;
}
@media screen and (min-width: 552px) and (max-width: 992px) {
  #l_side #toc-mobile-btn {
    bottom: 130px !important;
    transform: scale(0.6) !important;
  }
}
#readmore-wrapper {
  left: 50%;
  transform: translateX(-50%);
}
#readmore-modal-footer {
  padding-bottom: 20px;
}
#readmore-modal-footer p {
  display: none;
}
.post-title {
  all: unset !important;
}
.post-info .post-title .post-title-link {
  display: -webkit-box;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 1 !important;
  overflow: hidden !important;
  font-size: 1.2em;
}
.codeBox::before {
  position: absolute;
  top: 6px; /* 与父元素顶部的距离为 10px */
  left: -30px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fc625d;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  content: ' ';
  z-index: 1;
}
/*阅读进度条*/
#progress-baraabb {
  position: fixed;
  bottom: 0px;
  left: 0;
  height: 2px;
  background-color: #42b983;
  z-index: 1000;
  transition: width 0.3s ease;
}
/*网址导航css开始*/
.grid-container {
  display: grid;
  grid-gap: 20px;
  width: 100%;
  padding: 10px 0 10px 0;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}
@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.grid-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(180,180,180,0.314);
  height: 50px;
  padding: 8px;
  border-radius: 5px;
  overflow: hidden; /* 添加 overflow 属性 */
  transition: transform 0.3s cubic-bezier(0.2, 0.8, 0.2, 1), box-shadow 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.grid-item-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  max-width: 100%;
  border-radius: 0%;
  overflow: hidden;
  z-index: 1;
  background-color: #fff;
}
.grid-item-left div {
  height: 35px;
}
.grid-item-right-i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}
.grid-item-left img {
  margin-bottom: 0px !important;
  width: 100%;
  object-fit: contain;
}
.grid-item-right {
  display: flex;
  flex-direction: column;
  padding: 3px 10px;
  align-items: flex-start;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* 设置最大宽度为100% */
  position: relative;
}
#articleContent p {
  font-size: 0.85rem;
  line-height: 1.5rem;
}
.grid-item-right p {
  margin: 0 !important;
  line-height: 1.3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.img-margin {
  margin: 0px auto;
}
.grid-item:hover {
  transform: translateY(-2px) scale(1.05); /* 向上移动2px并放大1.03倍（即3%） */
  box-shadow: 0 0 10px rgba(73,177,245,0.314);
  border-radius: 5px; /* 添加圆角，根据需要调整半径值 */
}
/*网址导航css结束*/
/*插件的样式开始*/
.yanse-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  margin-top: 30px;
}
.yanse-group > div {
  background-color: #add8e6;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  height: 50px;
  color: #fff;
}
/*插件的样式结束*/
:root .header .header-content .navbar .menu .menu-item a {
  text-align: left;
}
:root .archive .post-archive .year .bullet {
  width: 0rem;
  height: 0rem;
}
:root .archive .post-archive::before {
  width: 0px;
  left: 0em;
}
:root .archive {
  padding: 0px;
  display: block;
}
:root .archive .post-archive .year {
  margin-bottom: 0px;
}
:root .archive .post-archive .post-item {
  flex-direction: column;
}
:root .archive .post-archive .post-item .post-img-box {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
:root .archive .post-archive .post-item {
  margin-bottom: 0px;
  background-color: rgba(255,255,255,0);
}
:root .archive .post-archive .post-item .post-date-title {
  margin: 10px;
}
/*root结束*/
/*归档页*/
.post-archive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.year {
  grid-column: 1/-1;
}
.site-card-group {
  display: grid !important;
  grid-gap: 20px;
  width: 100%;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.tp {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  transition: transform 0.3s ease;
}
.tp a div,
.tp img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
  border-radius: 10px 10px 0 0;
}
.tp a div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2em;
}
.tp:hover {
  transform: scale(1.05);
  border-radius: 10px;
}
.tp h3 {
  margin: 10px 0px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: text;
}
.tp p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
}
.tp:hover p {
  opacity: 1;
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
}
.shuoshuo {
  margin: 40px 0;
}
.shuoshuo .date {
  font-size: 13px;
  padding-top: 8px;
}
.shuoshuolist {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2) !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.shuoshuolist:hover {
  transform: scale(1.05); /* 鼠标经过时放大1.05倍 */
  box-shadow: 0 6px 15px rgba(0,0,0,0.2); /* 鼠标经过时的投影变化 */
}
.shuoshuolist img {
  border-radius: 8px 8px 0 0;
}
.shuoshuolist .title {
  padding: 15px;
  color: #213547;
}
.pagination {
  text-align: center;
  margin-top: 20px; /* 可选的外边距调整 */
}
.page-numbers {
  display: inline-block; /* 使页码部分保持在一行 */
  margin: 0 10px; /* 页码按钮之间的间距 */
}
button {
  padding: 8px 16px;
  margin: 0 10px !important; /* 按钮之间的间距 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button.active {
  padding: 5px 10px;
  background-color: rgba(66,185,133,0.8);
  color: #fff;
}
button:disabled {
  cursor: not-allowed;
}
.image-container {
  width: 100%;
  height: 120px;
  overflow: hidden; /* 防止图片溢出容器 */
  position: relative; /* 使子元素绝对定位 */
}
.image-container img {
  position: absolute; /* 绝对定位 */
  top: 50%; /* 垂直居中 */
  left: 50%; /* 水平居中 */
  width: 100%; /* 宽度 100% */
  height: auto; /* 高度自动 */
  min-width: 100%; /* 确保图片填满容器 */
  min-height: 120px; /* 确保图片至少 120px 高 */
  transform: translate(-50%, -50%); /* 调整位置 */
}
/*打赏*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none; /* 初始隐藏 */
  align-items: center;
  justify-content: center;
  z-index: 100000;
}
/* 内部内容容器 */
.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}
/* 按钮区域 */
.tab-buttons {
  margin-bottom: 15px;
}
/* 按钮样式 */
.tab-buttons button {
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}
/* 活动状态按钮样式 */
.tab-buttons button.active {
  background-color: #007bff; /* 活动状态浅蓝色背景 */
  font-weight: bold;
}
/* 选项卡内容样式 */
.tab-content {
  display: none;
}
/* 默认显示的选项卡内容 */
.tab-content.active {
  display: block;
}
/* 标题样式 */
.tab-content h2 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}
/* 图片样式 */
.popup-image {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
/* 按钮样式 */
.show-image-button {
  color: #fff;
  background-color: rgba(66,185,133,0.8) !important;
  position: fixed;
  bottom: 140px;
  right: 17px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 999;
}
@media (max-width: 551px) {
  .show-image-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    bottom: 130px;
    right: 0;
  }
}
